__pycache__
*.pyc
*.pyo
.pytest_cache
.git
.gitignore
.env
*.md
notebook.ipynb
data/raw
data/predictions
data/logs
tests
scripts
k6
deployment/grafana
deployment/prometheus/*.yml
deployment/docker-compose.yml
.venv
venv
